
{% if (comment && comment.user) %}
  <div>
    {% if (comment.user.name) %}
      {% set name = comment.user.name %}
    {% else %}
      {% set name = comment.user.username %}
    {% endif %}

    <p>
      <a href="{{ '/users/' + comment.user._id }}">{{ name }}</a>
      :&nbsp;
      {{ comment.body }}
    </p>

    <!-- <p class="muted"> -->
      <form role="form" method="post" action="{{ '/articles/' + article._id + '/comments/' + comment._id }}" onsubmit="return confirm('Are you sure?')">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
        <span>{{ comment.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">delete</button>
      </form>
    <!-- </p> -->
  </div>
{% endif %}
