{% extends 'auth.html' %}

{% block auth %}
  <form action="/users" method="post" role="form">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">

    <div>
      <label for="name">Full name</label>
      <div>
        <input id="name" type="text" name="name" placeholder="Full name" value="{{ user.name }}">
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <div>
        <input type="text" name="email" placeholder="Email" value="{{ user.email }}" id="email">
      </div>
    </div>

    <div>
      <label for="username">Username</label>
      <div>
        <input id="username" class="form-control" type="text" name="username" placeholder="Username" value="{{ user.username }}">
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <div>
        <input id="password" type="password" name="password" placeholder="Password">
      </div>
    </div>

    <div>
      <div>
        <button>Sign up</button>
        &nbsp; or &nbsp;
        <a href="/login">Log in</a>
      </div>
    </div>
  </form>
{% endblock %}
